.notfound-page-dark {
    background: linear-gradient(145deg, #1e2024, #23272b);
    height: 100vh;
    width: 100%;
    position: fixed;
    padding-top: 100px;
}

.notfound-page-light {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    padding-top: 100px;
}